@import "./variables";
@import "./mixins";

@import "./layout/header.scss";

.vuedoc-layout {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

.vuedoc-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--vdoc-z-index-sidebar, 10);
  padding: 0 32px 96px;
  width: calc(100vw - 64px);
  max-width: var(--vdoc-sidebar-width-mobile);
  opacity: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-100%);
  transition: background-color .5s,opacity .5s,transform .3s ease;
  border-right: 1px solid var(--vdoc-c-divider-light);

  &--is-active {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    transition: background-color .5s,opacity .25s,transform .5s cubic-bezier(.19,1,.22,1);
  }

  @include responsive($vdoc-bp-md) {
    top: var(--vdoc-header-height, 0);
    z-index: 1;
    width: var(--vdoc-sidebar-width-small);
    max-width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translate(0);
    transition: border-color .5s,background-color .5s;
  }
  @include responsive($vdoc-bp-xl) {
    padding: 0 32px 96px calc((100% - var(--vdoc-screen-max-width)) / 2);
    width: calc((100% - var(--vdoc-screen-max-width)) / 2 + var(--vdoc-sidebar-width-small));
  }
}

.vuedoc-sidebar-nav {
  padding-top: 24px;
}

.vuedoc-content-wrapper {
  padding-top: var(--vdoc-header-height);
  @include responsive-max($vdoc-bp-sm) {
    overflow-x: hidden;
  }
  @include responsive($vdoc-bp-md) {
    padding-left: var(--vdoc-sidebar-width-small);
  }
  @include responsive($vdoc-bp-xl) {
    padding-left: calc((100vw - var(--vdoc-screen-max-width)) / 2 + var(--vdoc-sidebar-width-small));
  }
}
.vuedoc-content {
  padding: 32px 24px 96px;
  @include responsive($vdoc-bp-sm) {
    padding: 48px 32px 96px;
  }
  @include responsive($vdoc-bp-md) {
    padding: 64px 64px 96px;
  }
  @include responsive($vdoc-bp-lg) {
    padding: 64px 0 96px 48px;
  }
  @include responsive(1300px) {
    padding: 64px 0 96px 64px;
  }
  @include responsive($vdoc-bp-xl) {
    padding: 64px 0 96px 96px;
  }
}

.vuedoc-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  transition: opacity .5s;
  z-index: var(--vdoc-z-index-overlay);
  @include responsive($vdoc-bp-md) {
    display: none;
  }
}

.vuedoc-overlay-enter-active, .vuedoc-overlay-leave-active {
  transition: opacity .5s;
}
.vuedoc-overlay-enter, .vuedoc-overlay-leave-to {
  opacity: 0;
}
.vuedoc-overlay-leave-to {
  transition-duration: .25s;
}
